.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .drawer_hidden {
    display: none;
  }
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/
    
  }
  
  
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  
  .drawer_open span:before {
    bottom: 8px;
  }
  
  
  .drawer_open span:after {
    top: 8px;
  }
  
  
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; 
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
 
  .nav_list {
    list-style: none;
  }
  
  
  #drawer_input:checked ~ .nav_content {
    left: 0;
  }
  .main {
    text-align:center;
  }

  .footer {
    position: absolute;
    bottom: 0;
    text-align:center;
  }